deployments:
    chainlink-don:
      helm:
        values:
          common:
            chainlink:
              v2Config:
                {{- range .GethChains  }}
                01-network-geth-chain-{{ .NetworkId }}.toml: |
                  [[EVM]]
                  ChainID = {{ .NetworkId }}
                  MinContractPayment = '0'
                  AutoCreateKey = true
                  FinalityDepth = {{ .FinalityDepth }}

                  [[EVM.Nodes]]
                  Name = 'node-{{ .NetworkId }}'
                  HTTPURL = "http://geth-{{ .NetworkId }}:8544"
                  WSURL = "ws://geth-{{ .NetworkId }}:8546"
                {{- end }}
                {{- range .SolanaChains  }}
                01-network-solana-chain-{{ .ChainId }}.toml: |
                  [[Solana]]
                  ChainID = '{{ .ChainId }}'
                  Enabled = true

                  [[Solana.Nodes]]
                  Name = 'node-{{ .ChainId }}'
                  URL = "http://solana-{{ .ChainId }}:8544"
                {{- end }}

