deployments:
    chainlink-don:
      helm:
        values:
          common:
            chainlink:
              v2Config:
                {{- range .GethChains  }}
                01-network-geth-chain-{{ .NetworkId }}.toml: |
                  [Feature]
                  MultiFeedsManagers = true
                  [[EVM]]
                  ChainID = {{ .NetworkId }}
                  MinContractPayment = '0'
                  AutoCreateKey = true
                  FinalityDepth = {{ .FinalityDepth }}
                  LogPollInterval = '1s'

                  [[EVM.Nodes]]
                  Name = 'node-{{ .NetworkId }}'
                  HTTPURL = "http://geth-{{ .NetworkId }}:8544"
                  WSURL = "ws://geth-{{ .NetworkId }}:8546"
                {{- end }}
                {{- range .SolanaChains  }}
                01-network-solana-chain-{{ .ChainId }}.toml: |
                  [[Solana]]
                  ChainID = '{{ .ChainId }}'
                  Enabled = true
                  ConfirmPollPeriod = '{{ .ChainConfig.ConfirmPollPeriod }}'
                  OCR2CachePollPeriod = '{{ .ChainConfig.OCR2CachePollPeriod }}'
                  OCR2CacheTTL = '{{ .ChainConfig.OCR2CacheTTL }}'
                  TxTimeout = '{{ .ChainConfig.TxTimeout }}'
                  TxRetryTimeout = '{{ .ChainConfig.TxRetryTimeout }}'
                  TxConfirmTimeout = '{{ .ChainConfig.TxConfirmTimeout }}'
                  TxExpirationRebroadcast = {{ .ChainConfig.TxExpirationRebroadcast }}
                  TxRetentionTimeout = '{{ .ChainConfig.TxRetentionTimeout }}'
                  SkipPreflight = {{ .ChainConfig.SkipPreflight }}
                  Commitment = '{{ .ChainConfig.Commitment }}'
                  MaxRetries = {{ .ChainConfig.MaxRetries }}
                  FeeEstimatorMode = '{{ .ChainConfig.FeeEstimatorMode }}'
                  ComputeUnitPriceMax = {{ .ChainConfig.ComputeUnitPriceMax }}
                  ComputeUnitPriceMin = {{ .ChainConfig.ComputeUnitPriceMin }}
                  ComputeUnitPriceDefault = {{ .ChainConfig.ComputeUnitPriceDefault }}
                  FeeBumpPeriod = '{{ .ChainConfig.FeeBumpPeriod }}'
                  BlockHistoryPollPeriod = '{{ .ChainConfig.BlockHistoryPollPeriod }}'
                  BlockHistorySize = {{ .ChainConfig.BlockHistorySize }}
                  ComputeUnitLimitDefault = {{ .ChainConfig.ComputeUnitLimitDefault }}
                  EstimateComputeUnitLimit = {{ .ChainConfig.EstimateComputeUnitLimit }}
                  [Solana.MultiNode]
                  VerifyChainID = {{ .ChainConfig.MultiNode.VerifyChainID }}
                  [[Solana.Nodes]]
                  Name = 'node-{{ .ChainId }}'
                  URL = "http://solana-{{ .PodId }}:8544"
                {{- end }}

