# Log files
*.log

# Misc
.DS_Store
.envrc
.env*
.dbenv
!*.env.example
!.github/actions/setup-postgres/.env
.direnv
.idea
.vscode/
*.iml
debug.env
*.txt
repos
node_modules

# Ignore DevSpace cache and log folder
.devspace/
/imports/atlas/init/output/*
/dependencies/atlas/init/output/*

# Local helm chart downloads
/deployments/*/*.tgz

# CLI related
cli/dist/