# Ignore DevSpace cache and log folder
.devspace/

/core/scripts/ccip/json/credentials
/core/scripts/ccip/revert-reason/bin/ccip-revert-reason

# dependencies generated after running `go mod vendor`
vendor/
go.work*

# This sometimes shows up for some reason
tools/flakeytests/coverage.txt

# Fuzz tests can create these files
**/testdata/fuzz/*

# Runtime test configuration that might contain secrets
override*.toml

# Pythin venv
.venv/

ocr_soak_report.csv
-- VISUAL LINE --
tmp-manifest-*.yaml
ztarrepo.tar.gz
**/test-ledger/*
__debug_bin*
.test_summary/
.run.id
integration-tests/**/traces/
benchmark_report.csv
benchmark_summary.json

# goreleaser builds
cosign.*
dist/
MacOSX*

cache
core/services/ocr2/plugins/ccip/transactions.rlp
lcov.info
!core/services/ocr2/plugins/ccip/internal/cache/


core/scripts/ccip/json/credentials
core/scripts/ccip/json/deployments
core/scripts/ccip/csv/node-wallets

# Test & linter reports
*report.xml
*report.json
*.out

contracts/yarn.lock

# Ignore DevSpace cache and log folder
.devspace/

/core/scripts/ccip/json/credentials
/core/scripts/ccip/revert-reason/bin/ccip-revert-reason

# dependencies generated after running `go mod vendor`
vendor/
go.work*

# This sometimes shows up for some reason
tools/flakeytests/coverage.txt

# Fuzz tests can create these files
**/testdata/fuzz/*

# Runtime test configuration that might contain secrets
override*.toml

# Pythin venv
.venv/

ocr_soak_report.csv

# misc
.DS_Store
.envrc
.env*
.dbenv
!crib/.env.example
!.github/actions/setup-postgres/.env
.direnv
.idea
.vscode/
*.iml
debug.env
*.txt
operator_ui/install

