go 1.25.4

use (
	.
	..
	../../chainlink-ton/devenv-impl
	../chains/evm/deployment
	../chains/solana
	../chains/solana/deployment
	../deployment
)

replace github.com/fbsobreira/gotron-sdk => github.com/smartcontractkit/chainlink-tron/relayer/gotron-sdk v0.0.5-0.20250528121202-292529af39df
