SCRIPTS_DIR=../../scripts
COMPONENTS_DIR=../../components

# The path to the parent directory with chainlink repositories like chainlink, ccip, atlas
# It is required as CRIB builds images from sources.
CHAINLINK_CODE_DIR=../../..

# Secret key used for goreleaser-pro, you can find this in our 1p vault under "goreleaser-pro-license"
GORELEASER_KEY=

# If you want to deploy pre-built images uncomment the lines below depending on your use case
#
# Chainlink CCIP enabled Node Image -> develop branch in chainlink repo
DEVSPACE_IMAGE="795953128386.dkr.ecr.us-west-2.amazonaws.com/ccip"
# The tag of the chainlink node to override
DEVSPACE_IMAGE_TAG="develop"

# Chainlink HELM registry URI, required to authenticate against helm ECR Registry
CHAINLINK_HELM_REGISTRY_URI="oci://804282218731.dkr.ecr.us-west-2.amazonaws.com/infra-charts"

# Devspace profile to use
DEVSPACE_PROFILE=default

# AWS Profile - Required for interacting with AWS CLI
AWS_PROFILE=staging-crib

##
# These are used by the crib CLI
##
AWS_ACCOUNT_ID=323150190480

AWS_REGION=us-west-2
AWS_SSO_ROLE_NAME=CRIB-ECR-Power
AWS_SSO_START_URL=https://smartcontract.awsapps.com/start

# Grafana
GRAFANA_URL=https://grafana.ops.prod.cldev.sh
GRAFANA_TOKEN=
PROMETHEUS_DATA_SOURCE_NAME=Thanos
LOKI_DATA_SOURCE_NAME=Loki
INFRA_PLATFORM=kubernetes
GRAFANA_FOLDER=CRIB
DASHBOARD_NAME=

# Cost Attribution
# Specifies the responsible team (e.g., your team name)
CHAINLINK_TEAM=
# Specifies the associated product (e.g., the CLL product CRIB is being used for)
CHAINLINK_PRODUCT=
# Identifies the cost center for billing purposes
CHAINLINK_COST_CENTER=CRIB
# Identifies the specific system component
CHAINLINK_COMPONENT=CRIB