# CRIB integrates with 1Password for local development, allowing developers to quickly access
# essential secrets and sensitive config parameters, such as tokens for Grafana, that are necessary
# for running tests and cannot be stored in the repository. Access is based on a shared layout,
# and a shared Vault called CRIB has been added to 1Password. All engineers have read-only access
# to it, but the secrets are primarily managed by the TestTooling team.
#
# If you have some personal secrets that you use for local development you can edit the file
# and auto inject them using an ENV variable
# export ENV_VAR_NAME=op://VAULT_NAME/path/to/the/secret
#
# then run: op run --env-file=".envrc" -- <CMD>
#
# See below. More details available in our docs page:
# https://smartcontract-it.atlassian.net/wiki/spaces/TT/pages/660145339/General+CRIB+-+Deploy+Access+Instructions#Configure-1Password-integration
#

# Loki Endpoint
LOKI_ENDPOINT=op://CRIB/secrets/LOKI_ENDPOINT

# Grafana Base URL
GRAFANA_BASE_URL=op://CRIB/secrets/GRAFANA_BASE_URL
