# The path to a directory with chainlink repositories like chainlink, ccip, atlas
# It is required as CRIB builds images from sources
CHAINLINK_CODE_DIR=../../

# The image that will be used for the Chainlink nodes.
# todo: this is used for resolving AWS account in cribbit.sh, we should fix that
#     and rely on the default value set in the devspace.yaml
DEVSPACE_IMAGE="323150190480.dkr.ecr.us-west-2.amazonaws.com/chainlink-devspace"

# todo: this is used for resolving Helm Registry URI in cribbit.sh, we should fix that
#     and rely on the default value set in the devspace.yaml
# Helm repo URI for the crib-chainlink-cluster helm chart
CHAINLINK_CLUSTER_HELM_CHART_URI="oci://804282218731.dkr.ecr.us-west-2.amazonaws.com/infra-charts/crib-ccip"

# Devspace profile to use
DEVSPACE_PROFILE=default

# The duration that the namespace and all of its associated resources will be kept alive.
NS_TTL=72h

# AWS Profile
AWS_PROFILE=staging-crib

##
# These are used by the shell script: cribbit.sh
##
AWS_REGION=us-west-2
AWS_SSO_ROLE_NAME=CRIB-ECR-Power
AWS_SSO_START_URL=https://smartcontract.awsapps.com/start

# For keystone provisioning
# The websocket of the blockchain node to connect each CL node to. Needs to be Sepolia endpoint.
KEYSTONE_ETH_WS_URL=
# The http endpoint of the blockchain node to connect each CL node to. Needs to be Sepolia endpoint.
KEYSTONE_ETH_HTTP_URL=
# A private key that contains sepolia ETH to use for contract deployment and funding transmitters.
KEYSTONE_ACCOUNT_KEY=

# Grafana
GRAFANA_URL=https://grafana.ops.prod.cldev.sh
GRAFANA_TOKEN=
PROMETHEUS_DATA_SOURCE_NAME=Thanos
LOKI_DATA_SOURCE_NAME=Loki
INFRA_PLATFORM=kubernetes
GRAFANA_FOLDER=CRIB
DASHBOARD_NAME=
