SCRIPTS_DIR=../../scripts
COMPONENTS_DIR=../../components

# The path to the parent directory with chainlink repositories like chainlink, ccip, atlas
# It is required as CRIB builds images from sources.
CHAINLINK_CODE_DIR=../../..

# Chainlink HELM registry URI, required to authenticate against helm ECR Registry
CHAINLINK_HELM_REGISTRY_URI="oci://804282218731.dkr.ecr.us-west-2.amazonaws.com/infra-charts"

# AWS Profile - Required for interacting with AWS CLI
AWS_PROFILE=staging-crib

##
# These are used by the crib CLI
##
AWS_ACCOUNT_ID=323150190480

AWS_REGION=us-west-2
AWS_SSO_ROLE_NAME=CRIB-ECR-Power
AWS_SSO_START_URL=https://smartcontract.awsapps.com/start


# Cost Attribution
# Specifies the responsible team (e.g., your team name)
CHAINLINK_TEAM=
# Specifies the associated product (e.g., the CLL product CRIB is being used for)
CHAINLINK_PRODUCT=
# Identifies the cost center for billing purposes
CHAINLINK_COST_CENTER=CRIB
# Identifies the specific system component
CHAINLINK_COMPONENT=CRIB