[profile.default]
solc_version = '0.8.26'
evm_version = 'paris'

src = 'contracts'
test = 'contracts'
out = 'foundry-artifacts'
cache_path = 'foundry-cache'
libs = ["node_modules"]

bytecode_hash = "none"
ffi = false
optimizer = true
# default is zero, using a non-zero amount enables us to test e.g. billing based on gas prices.
gas_price = 1
block_timestamp = 1234567890
block_number = 12345
deny_warnings = true
# License should be removed once WETH in the chainlink NPM package has a license identifier.
ignored_error_codes = ["too-many-warnings", "code-size", "license"]

# This profile should be used for testing CCIP locally and in CI.
[profile.ccip]
# We don't need optimization for CCIP tests, the wrappers are built with the `ccip-compile` profile.
# Having lower optimization runs speeds up compilation.
optimizer_runs = 1
via_ir = false

# This profile should be used prior to any release to ensure the tests are passing with via-ir enabled. Enabling via-ir
# locally or in CI will slow down the compilation process, so it is not recommended to use it for everyday development.
[profile.ccip-compile]
optimizer_runs = 80_000
via_ir = true

additional_compiler_profiles = [
    { name = "no-via-ir", via_ir = false },
    { name = "onRamp", optimizer_runs = 5000 },
    { name = "offRamp", optimizer_runs = 30_000 },
    { name = "pools", optimizer_runs = 50_000 },
]
compilation_restrictions = [
    { paths = "contracts/test/**", via-ir = false },
    { paths = "contracts/onRamp/OnRamp.sol", optimizer_runs = 5000 },
    { paths = "contracts/offRamp/OffRamp.sol", optimizer_runs = 30_000 },
    { paths = "contracts/pools/**", optimizer_runs = 50_000 },
]

[fmt]
tab_width = 2
multiline_func_header = "params_first"
sort_imports = true
single_line_statement_blocks = "preserve"

[lint]
lint_on_build = false

# See more config options https://github.com/foundry-rs/foundry/tree/master/config
